*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 5s ease;
}
:root{
    /* Background Color */
    --bg-red: #d3282e;
    --bg-white: #fff;
    --bg-light-white: #f6f7f8;
    --bg-yellow: #fdd800;
    --bg-green: #009900;

    /* Text Color */
    --text-black: #1f1f1f;
    --text-white: #fff;
    --text-red: #d3282e;
    --text-green: #009900;
    --text-yellow: #fdd800;
    /* Fonts */
    --primary-font: 'Great Vibes', cursive;
    --secondary-font: 'Poppins', sans-serif;
}
.text-red{
    color:var(--text-red);
}
.bg-light-white{
    background-color:var(--bg-light-white) !important;
}
.bg-green{
    background-color:var(--bg-green) !important;
}
h1{
    font-size:45px;
    font-family: var(--primary-font);
    letter-spacing:1px;
    font-weight: 500;
    color:var(--text-white);
    margin-top: 20px;
    text-align: center;
    text-shadow: 2px 2px 3px black;
} 
h2{
    text-align: center;
    font-size: 45px;
    font-family: var(--primary-font);
    letter-spacing: 1px;
    font-weight: 75;
    color: var(--text-black);
    margin: 30px;
    text-shadow: 2px 2px 3px red;
} 
h3{
    font-size:35px; 
    letter-spacing:2px;
    font-weight: 700;
    color:var(--text-green);
    margin-bottom:15px;
}
h4{
    font-size:20px; 
    letter-spacing:2px;
    font-weight: 500;
    color:var(--text-white);
    margin-bottom:15px;
    text-shadow: 2px 2px 3px hotpink;
}
h5{
    font-size:22px; 
    letter-spacing:2px;
    font-weight: 500;
    color:var(--text-black);
    margin-bottom:15px;
    text-shadow: 2px 2px whitesmoke;
}
p{
    margin-top:5px;
    margin-bottom:1rem;
    font-size:25px;
    font-weight: 300;
    line-height:normal;
    color:var(--text-white);
    text-align: justify;
    text-shadow: 2px 2px 3px hotpink;
}
#shadow{
    box-shadow: 5px 6px 5px #2a343f57;
}


}

/*home page*/
/*navbar*/
.nav-item{
    margin: 0 10px;
}
.nav-item .nav-link{
    font-size: 1.5rem;
    font-weight: 365;
    color: var(--text-black);
    line-height: 1;
    letter-spacing: 1px;
}
.nav-item .nav-link: hover{
    color: var(--text-yellow);
}
/*caraousel*/
.banner{
    padding-top: 4.5%;
}
/*banner css end*/
/*offering css start*/
.offering .item img{
    box-shadow: 5px 6px 5px #2a343f57;
    margin-bottom: 20px;
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 70%;
    transition: 5s ease;
}
.offering .item {
    position: relative;
    align-items: center;
}
/*offering css end*/
/*testmonial css start*/
.test{
    background: url(../image/t1.jpg);
    padding: 20px;
}
/*testmonial css end*/
/*footer css start*/
.footer{
    background-color: #08186b;
    padding: 30px;
}
/*footer css end*/
/*about page*/
.about{
    padding-top: 4%;
    transition: 5s ease;
}
.offering{
    padding: 4%;
}
.login{
    padding: 4%;
}